.sidebar-container {
  width: 250px;
  position: fixed;
  top: 56px; /* Offset for the fixed Navbar */
  left: 0;
  bottom: 0;
  background-color: var(--sidebar-bg-color);
  overflow-y: auto;
  z-index: 1040;
  transition: left 0.3s ease-in-out;
}

.sidebar-container.collapse {
  display: none;
}

.sidebar-dark {
  background-color: #343a40;
  color: white;
}

.sidebar-light {
  background-color: #f8f9fa;
  color: black;
}

@media (max-width: 767px) {
  .sidebar-container {
    width: 100%; /* Full width on small screens */
    position: fixed;
    top: 56px;
    left: -100%; /* Hidden by default */
  }

  .sidebar-container.show {
    left: 0; /* Slide in on toggle */
  }

  /* Main content adjusts when sidebar is hidden */
  .main-content {
    margin-left: 0 !important;
  }
  main{
    margin-left:0 !important;
  }
}
